/* Styling the List component of the application*/

#list {
  padding: 2%;
  background-color: black;
  text-align: center;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.semiheader {
  font-size: 150%;
  padding: 2%;
}

.flights {
  font-size: 200%;
  padding-bottom: 2%;
}

#sidebar {
  float: left;
  width: 30%;
  background-color: white;
  margin: 3%;
  padding: 3%;
  border-radius: 10px;
  color: black;
}

#paymentMethod {
  background-color: black;
  color: white;
}

#list1 {
  float: right;
  width: 100%;
  padding: 2%;
}

#reload {
  background-color: black;
  border-color: black;
}

.elements {
  background-color: white;
  color: black;
  padding: 1%;
  width: 55%;
  align-self: center;
  border-radius: 10px;
  font-size: 100%;
  margin: 1%;
}
